body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.mainContent {
  display: none;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}


.box .header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .mainContent {
  flex: 1 1 auto;
}

.box .footer {
  flex: 0 1 auto;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

#messageArea {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  height: 100%;
}

#messageArea .card {
  flex: 1 1 auto;
  flex-grow: 1;
}

#readyBTN {
  float: right;
}

#rules {
  position: fixed;
  z-index: 2;
  border: 2px solid black;
  top: 20%;
  left: 50%;
  width: 70%;
  margin: 0 0 0 -35%;
}

#rulesClose {
  float: right;
  padding: 2px 5px;
  font-size: medium;
}

.form-group{
  margin: 1em;
}

.card-title{
  text-align: center;
}

.field {
  width: 50em;
}

.users{
  width: 10em;
}

.messages {
  width: 10em;
}

.chat{
  width: 100%
}

.pickup {
  width: 10em;
}

.card img{
  width: 100%;
}

.card{
  margin: 1em;
}

.ready {
  background-color: rgba(0,255,0, 0.3);
}

.notready {
  background-color: rgba(255,0,0,.3);
}
